@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html {
    background-color: rgb(rgb(255, 255, 255));
    font-family:'Kanit', sans-serif;
}

.main {
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.picture {
    width: 100vw;
    height: auto;
    background-image: url(Pictures/businessCards/mysplendor_cl1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* box-shadow: 5px 10px 10px 10px ; */
    flex-direction: column;
}

#title {
    position: absolute;
    margin-top: 55vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

#title h1 {
    font-size: 65px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

#title h2 {
    margin: 0 30px;
    padding: 0;
    font-weight: 400;
}

#title a {
    margin: 20px 100px; 
    padding: 0; 
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 200;
    width: 300px;
    color: black;
    text-decoration: none;
}

#title a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 15px rgba(20, 75, 112, 0.95);
}

.menu {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
}

.menu ul li {
    padding: 0 20px;
    margin: 0;
    border-left: 3px solid black;
}

.menu ul li:hover {
    /* background-color: rgb(238, 235, 235); */
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 15px rgba(20, 75, 112, 0.95);
}

.menu ul li:last-child {
    border-right: 3px solid black;
} 

.menu ul li:first-child {
    border-right: 3px solid black;
}

.menu a {
    text-decoration: none;
    color: black;
}

#sneer {
    margin-right: auto;
}

#sneer a {
    text-decoration: none;
    color: black;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

a:visted {
    text-decoration: none;
    color: black;
}

@media (prefers-color-scheme: dark) { 
    html {
        background-color: rgb(44, 44, 44);
    }
    
    .picture {
        width: 100vw;
        height: auto;
        background-image: url(Pictures/businessCards/mysplendor_cl_invert1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        flex-direction: column;
    }

    .menu ul li {
        padding: 0 20px;
        margin: 0;
        border-left: 3px solid white;
    }
    
    .menu ul li:last-child {
        border-right: 3px solid white;
    } 
    
    .menu a {
        text-decoration: none;
        color: white;
    } 

    #title {
        color: white;
    }

    #title a {
        color: white;
        border: 2px solid white;
    }

    #sneer a {
        color: white;
    }

    #sneer a:visted {
        color: white;
    }

    .menu ul li:first-child {
        border-right: 3px solid white;
    }
}