@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #C7BA9E;
}

.menuMobile {
    display: none;
}

.menu-fullsize {
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
}

.menu-fullsize ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
}

.menu-fullsize ul li {
    padding: 0 20px;
    margin: 0;
    border-left: 3px solid #272036;
    transition: all 200ms ease-in-out; 
}

.menu-fullsize ul li:hover {
    background-color: #272036;
    text-shadow: 1px 1px 15px #D24624;
    color: #C7BA9E;
    cursor: pointer;
}

.menu-fullsize ul li a:hover {
    color: #C7BA9E;
}

.menu-fullsize ul li:last-child {
    border-right: 3px solid #272036;
} 

.menu-fullsize ul li:first-child {
    border-right: 3px solid #272036;
}

.menu-fullsize a {
    text-decoration: none;
    color: #272036;
}

#sneerFull {
    margin-right: auto;
    font-style: italic;
    font-weight: 200;
}

#sneerFull a {
    text-decoration: none;
    color: #272036;
    font-weight: 200;
}

#sneerFull a:hover {
    color: #C7BA9E;
}

a:visited {
    text-decoration: none;
    color: #272036;
}

#main {
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
}

#main .background-image {
    width: 100vw;
    height: auto;
    background-image: url(Images/BackgroundImages/mysplendor_cl1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#title {
    position: absolute;
    margin-top: 55vh;
    margin-left: 5vw;
    color: #272036;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#title h1 {
    font-size: 4vw;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 15px #D24624;
}

#title h2 {
    font-size: 1.5vw;
    margin-left: 2vw;
    padding: 0;
    font-weight: 400;
    text-shadow: 1px 1px 15px #D24624;
}

#title a {
    margin: 1vw 5.9vw; 
    padding: 0; 
    text-align: center;
    border: 2px solid #272036;
    border-radius: 5px;
    font-weight: 200;
    width: 20vw;
    color: #272036;
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: .1px;
    box-shadow: 0 0 0 1px #C7BA9E;
    background-color: transparent;
    transition: all 350ms ease-in-out;
}

#title a:hover {
    transform: scale(1.1);
    background-color: #272036;
    color: #C7BA9E;
    letter-spacing: 1.1px;
    border-radius: 30px;
    box-shadow: 0 0 0 5px transparent;
}

#title a:active {
    transform: scale(0.9);
}


@media (max-width: 430px) and (orientation: portrait) {
    .menuMobile {
        overflow: hidden;
        background-color: #272036;
        position: relative;
        z-index: 2;
        display: flex;
        padding-right: 10px;
        justify-content: space-between;
    }

    .menuMobile h1 {
        align-self: center;
        color: #C7BA9E;
        padding-left: 10px;
        font-weight: 400;
        text-shadow: 1px 1px 2px #D24624; 
    }

    .menuMobile a {
        text-decoration: none;
        align-self: center;
    }
    
    .menuMobile #menuLinks {
        display: none;
    }

    ul {
        list-style: none;
    }

    .active {
        color: #C7BA9E;
    }

    .menuMobile a i:active {
        text-shadow: 2px 3px 2px #D24624;
        transform: scale(1.1);
    }

    .menuMobile a i {
        font-size: 40px;
        color: #C7BA9E;
        padding: 10px;
    }

    #main .background-image {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("Images/BackgroundImages/mysplendor_mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }

    #main #title {
        position: relative;
        margin-top: 125px;
        color: #272036;
        text-shadow: 1px 1px 1px #C7BA9E;
        z-index: 2;
    }

    #main #title h1 {
        display: none;
    }

    #main #title h2 {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        padding-bottom: 150px;
    }

    #main #title #main-button {
        text-decoration: none;
        padding: 8px 10px;
        color: #C7BA9E;
        text-shadow: 1px 1px 6px #D24624;  
        background-color: #272036;      
        border: 3px solid #C7BA9E;
        border-radius: 40px;
    }

    #main #title #main-button:active {
        transform: scale(0.9);
        /* border-radius: 15px; */
    }

    #main #title #main-button:visited {
        text-decoration: none;
    } 
}

@media (prefers-color-scheme: dark) { 
    html {
        background-color: rgb(44, 44, 44);
    }
    
    .menu-fullsize ul li {
        color: #C7BA9E;
        text-shadow: .5px .5px 2px #1ADAA5;
        border-left: 3px solid #C7BA9E;
    }
    
    .menu-fullsize ul li:hover {
        background-color: #C7BA9E;
        text-shadow: 1px 1px 15px #D24624;
        color: #272036;
        cursor: pointer;
    }
    
    .menu-fullsize ul li a:hover {
        color: #272036;
    }
    
    .menu-fullsize ul li:last-child {
        border-right: 3px solid #C7BA9E;
    } 
    
    .menu-fullsize ul li:first-child {
        border-right: 3px solid #C7BA9E;
    }
    
    .menu-fullsize a {
        color: #C7BA9E;
    }
    
    #sneerFull a {
        text-decoration: none;
        color: #C7BA9E;
        text-shadow: .5px .5px 2px #1ADAA5;
    }
    
    #sneerFull a:hover {
        color: #C7BA9E;
    }
    
    a:visited {
        text-decoration: none;
        color: #C7BA9E;
    }
    
    #main .background-image {
        background-image: url(Images/BackgroundImages/mysplendor_cl_invert1.png);
    }
    
    #title {
        position: absolute;
        margin-top: 55vh;
        margin-left: 5vw;
        color: #C7BA9E;
    }
    
    #title h1 {
        text-shadow: 1px 1px 15px #1ADAA5;
    }
    
    #title h2 {
        text-shadow: 1px 1px 15px #1ADAA5;
    }
    
    #title a {
        border: 2px solid #C7BA9E;
        color: #C7BA9E;
        box-shadow: 0 0 0 1px #1ADAA5;
        text-shadow: 1px 1px 3px #1ADAA5;
    }
    
    #title a:hover {
        transform: scale(1.1);
        background-color: #C7BA9E;
        color: #272036;
        text-shadow: 1px 1px 3px #272036;
    }
    
    #title a:active {
        transform: scale(0.9);
    }

    .copyright {
        color: #C7BA9E;
        text-align: center;
    }

 }